footer.app__footer
	.app__footer-inner
		.footer
			.footer__list
				a.footer__brand(href="#")
					img(src="assets/images/brand-footer.svg" alt="Sublime by BOSCO")
				nav.footer__nav
					each value in footerNav
						ul.footer__nav-list
							li.footer__nav-list-item
								a.footer__nav-title(href=value.url)!= value.title
							if(value.list)
								li.footer__nav-list-item
									each itemList in value.list
										.footer__nav-item
											a.footer__nav-link(href=itemList.url)!= itemList.text
			.footer__social
				a.footer__social-link(href="#")
					+svg("social-fb")
				a.footer__social-link(href="#")
					+svg("social-vk")
				a.footer__social-link(href="#")
					+svg("social-tweet")
				a.footer__social-link(href="#")
					+svg("social-pint")
				a.footer__social-link(href="#")
					+svg("social-inst")