block page
	-var page = "index";

block header
block footer

extends ../blocks/layout/layout

block content
	.jumbotron-fluid
		.container
			h1 Список страниц
			ul.list-unstyled
				li
					a(href="main.html") Главная
				li
					a(href="catalog.html") Каталог
				li
					a(href="catalog_brand.html") Каталог (бренд)
				li
					a(href="product.html") Продукт
				li
					a(href="product_horizontal.html") Продукт (горизонталь)
				li
					a(href="product_vertical.html") Продукт (вертикаль)
				li
					a(href="favourites.html") Избранное
