block page
	-var page = "product";

extends ../blocks/layout/layout

block content
	.product
		.container
			.product__navbar
				ol.breadcrumb
					li.breadcrumb-item
						a(href="catalog.html") Каталог
					li.breadcrumb-item
						a(href="#") Часы
					li.breadcrumb-item
						a(href="#") Женские часы
					li.breadcrumb-item
						a(href="#") Chanel
					li.breadcrumb-item.active
						span J12 white
				a.product__navbar-back(href="catalog.html")
		.product__container
			.row
				.col-12.col-sm-6.col-md-6
					.product-media(data-width="626" data-ratio="626/470" data-max-width="100%" data-nav="thumbs" data-thumbheight="86" data-thumbwidth="86" data-allowfullscreen="native")
						a(href="content/images/product/big/img-1.jpg")
							img(src="content/images/product/thumb/img-1.jpg")
						a(href="content/images/product/big/img-2.jpg")
							img(src="content/images/product/thumb/img-2.jpg")
						a(href="content/images/product/big/img-3.jpg")
							img(src="content/images/product/thumb/img-3.jpg")
				.col-12.col-sm-6.col-md-6
					.product-info
						h1.product-info__title Часы J12 white
						.product-info__category
							.product-info__category-item Chanel
							.product-info__category-item Коллекция J12
