block page
	-var page = "Гум";

block scripts
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbr5LKuQTMr4qbnL29bLei0g7chux-xLc&callback=initMap")
	script(src="assets/js/map.js")

extends ../blocks/layout/layout

block content
	.jumbotron-fluid
		.catalog-frame
			.catalog-frame__wrap
				ol.breadcrumb
					li.breadcrumb-item
						a(href="#") Sublime
					li.breadcrumb-item
						a(href="#") Шоу-румы
					li.breadcrumb-item.active
						span Гум
				.catalog-frame__content
					h1.catalog-frame__title Бутики
					.catalog-frame__navbar
						ul.catalog-frame__navbar-list
							each value in SALON.salonNavbar
								if(page === value.title)
									li.catalog-frame__navbar-list-item.is-active
										span.catalog-frame__navbar-link!= value.title
								else
									li.catalog-frame__navbar-list-item
										a.catalog-frame__navbar-link(href=value.url)!= value.title
			.catalog-frame__mask
			img.catalog-frame__bg(src="content/images/catalog/frame-bg-4.jpg" alt="")
	.catalog
		.catalog__header
			h2.catalog__title ГУМ
			.catalog__subtitle Москва, Красная площадь,&nbsp;3<br />Ежедневно с&nbsp;10:00 до&nbsp;22:00<br /><span class="text-nowrap">+7 (495) 788-4343</span>
		.catalog__content
			.salon-carousel
				.salon-carousel__state.js-salon-gallery
					each value, ind in SALON.salonList
						figure
							if(ind % 2 ===0)
								a.salon-carousel__item(href="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg" role="button" zoom="true" data-size="800x600" data-alt-zoom="")
									img.salon-carousel__img(src=value.img alt="" data-size="320x320")
							else
								a.salon-carousel__item(href="https://farm7.staticflickr.com/6175/6176698785_7dee72237e_b.jpg" role="button" zoom="true" data-size="800x600" data-alt-zoom="")
									img.salon-carousel__img(src=value.img alt="" data-size="320x320")
			.salon-map
				#salon-map.salon-map__state
