html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-size: $font-size-base;
}

body {
    color: $color-black;
    direction: ltr;
    overflow-x: hidden;
    height: 100%;
    font-family: $font-family-default;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased !important;
}

.app {
    height: auto;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 99px;

    @media (max-width: $screen-sm-max) {
        padding-top: 91px;
    }

    &__content {
        height: 100%;
        margin: 0 auto;
        padding-bottom: 40px;
        @include clearfix();
    }

    &__footer {
        background-color: #813700;
        min-height: 220px;
    }

    &__footer-inner {
        padding-left: 30px;
        padding-right: 30px;

        @media (max-width: $screen-xs-min) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.container {
    @media (min-width: $screen-lg-min) {
        width: 1090px;
    }
}

.content-container {
    padding-right: 0;
    padding-left: 0;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-xs-min) {
        padding-right: 10px;
        padding-left: 10px;
    }

    @media (min-width: $screen-sm-min) {
        padding-right: 10px;
        padding-left: 10px;
    }
  
    @media (min-width: $screen-md-min) {
        padding-right: 10px;
        padding-left: 10px;
    }
  
    @media (min-width: $screen-lg-min) {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.row {
    margin-right: -10px;
    margin-left: -10px;

    @media (min-width: $screen-xs-min) {
        margin-right: -10px;
        margin-left: -10px;
    }

    @media (min-width: $screen-sm-min) {
        margin-right: -10px;
        margin-left: -10px;
    }

    @media (min-width: $screen-md-min) {
        margin-right: -10px;
        margin-left: -10px;
    }

    @media (min-width: $screen-lg-min) {
        margin-right: -10px;
        margin-left: -10px;
    }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 10px;
    padding-left: 10px;

    @media (min-width: $screen-xs-min) {
        padding-right: 10px;
        padding-left: 10px;
    }

    @media (min-width: $screen-sm-min) {
        padding-right: 10px;
        padding-left: 10px;
    }

    @media (min-width: $screen-md-min) {
        padding-right: 10px;
        padding-left: 10px;
    }

    @media (min-width: $screen-lg-min) {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.currency {
    &:after {
        margin-left: 8px;
        font-size: 100%;
        content: "\20BD";
        display: inline-block;
    }
}

.checkbox-line {
    position: relative;
    cursor: pointer;
    display: block;

    &__input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__input:checked + &__icon:after,
    &__input:checked + input + &__icon:after {
        display: block;
    }

    &__icon {
        width: 6px;
        height: 6px;
        margin-top: 0.5em;
        position: relative;
        float: left;
        margin-left: -13px;
        box-sizing: border-box;

        &:after {
            content: "";
            background-color: #d0ac80;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
        }
    }
}

.breadcrumb {
    background: none;
    padding-top: rem(16);
    padding-bottom: rem(16);
    padding-left: 0;

    @media (max-width: $screen-sm-max) {
        display: none;
    }
}

.breadcrumb-item {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.25px;
    text-transform: uppercase;

    a {
        color: #d0ac80;

        &:hover,
        &:focus {
            color: #d0ac80;
        }
    }

    &.active {
        color: #d0ac80;
    }
}

.breadcrumb-item + .breadcrumb-item:before {
    content: "\2014";
    color: #d0ac80;
    padding-left: rem(5);
    padding-right: rem(6);
}

.file-download {
    position: relative;
    padding-left: 30px;
    font-size: rem(16);

    &__icon {
        background: url("icon-download.svg#datauri") no-repeat 0 0;
        width: 17px;
        height: 22px;
        position: absolute;
        top: -0.1em;
        margin-left: -30px;
    }

    &__name {
        color: #000;
        transition: color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;

        &:hover,
        &:focus {
            text-decoration: none;
            color: #d0ac80;
        }
    }
}

.video-content {
    width: 100%;
    min-height: 160px;
    height: 34vw;
    max-height: 420px;
    position: relative;
    text-align: center;

    &__cover {
        width: auto;
        height: 100%;
        display: inline-block;
    }

    &__play {
        background-color: rgba(#fff, 0.7);
        border-radius: 50%;
        width: 110px;
        height: 110px;
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: $screen-sm-max) {
            width: 60px;
            height: 60px;
        }

        &:before {
            content: "";
            background: url("icon-play.svg#datauri") no-repeat 0 0;
            background-size: cover;
            width: 50px;
            height: 50px;
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -17px;
            margin-top: -25px;

            @media (max-width: $screen-sm-max) {
                width: 26px;
                height: 26px;
                margin-left: -9px;
                margin-top: -12px;
            }
        }
    }
}

.search-elem {
    color: #000;

    &:before {
        content: "\00AB";
        display: inline-block;
    }

    &:after {
        content: "\00BB";
        display: inline-block;
    }
}

.content-text {
    color: #737373;
    font-size: rem(16);
    line-height: rem(24);

    @media (max-width: $screen-xs-max) {
        font-size: rem(14);
        line-height: rem(20);
        text-align: center;
    }
}