.btn {
    letter-spacing: 2px;
    padding-top: rem(7);
    padding-bottom: rem(7);

    @media (max-width: $screen-xs-min) {
        letter-spacing: 0.5px;
    }
}

.btn-outline-gold {
    background: none;
    border-color: #d0ac80;
    border-radius: 0;
    color: #d0ac80;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;

    &:hover,
    &:focus {
        color: darken(#d0ac80, 8%);
        border-color: darken(#d0ac80, 8%);
        box-shadow: none;
        // box-shadow: 0 0 0 2px rgba(197, 153, 98, .25);
    }
}