@font-face {
    font-family: $font-stem-bold;
    src: url($font-path + $font-stem-bold + '.eot');
    src: url($font-path + $font-stem-bold + '.eot') format('embedded-opentype'), url($font-path + $font-stem-bold + '.woff') format('woff'), url($font-path + $font-stem-bold + '.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: $font-stem-medium;
    src: url($font-path + $font-stem-medium + '.eot');
    src: url($font-path + $font-stem-medium + '.eot') format('embedded-opentype'), url($font-path + $font-stem-medium + '.woff') format('woff'), url($font-path + $font-stem-medium + '.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: $font-stem-regular;
    src: url($font-path + $font-stem-regular + '.eot');
    src: url($font-path + $font-stem-regular + '.eot') format('embedded-opentype'), url($font-path + $font-stem-regular + '.woff') format('woff'), url($font-path + $font-stem-regular + '.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: $font-stem-light;
    src: url($font-path + $font-stem-light + '.eot');
    src: url($font-path + $font-stem-light + '.eot') format('embedded-opentype'), url($font-path + $font-stem-light + '.woff') format('woff'), url($font-path + $font-stem-light + '.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: $font-stem-italic;
    src: url($font-path + $font-stem-italic + '.eot');
    src: url($font-path + $font-stem-italic + '.eot') format('embedded-opentype'), url($font-path + $font-stem-italic + '.woff') format('woff'), url($font-path + $font-stem-italic + '.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: $font-PTRoubleSans;
    src: url($font-path + $font-PTRoubleSans + '.eot');
    src: url($font-path + $font-PTRoubleSans + '.eot') format('embedded-opentype'), url($font-path + $font-PTRoubleSans + '.woff') format('woff'), url($font-path + $font-PTRoubleSans + '.ttf') format('truetype');
    font-weight: normal;
}