.modal-request
	.modal-request__close.js-modal-request-close
	.modal-request__content
		.modal-request__wrap
			.modal-request__title Пожалуйста,<br />оставьте свой телефон,<br />наш менеджер вам перезвонит
			form(action="" metod="post")
				.form-group.row
					.col-12
						input.form-control(type="text" name="text" placeholder="Телефон")
					.col-12
						input.btn.btn-outline-gold(type="submit" value="OK")