.modal-search
	.modal-search__close.js-modal-search-close
	.modal-search__content
		.container
			.modal-search__wrap
				form(action="" metod="get")
					.input-group(role="search")
						input.form-control(type="search" name="text" placeholder="Поиск")
						.input-group-btn
							button.btn.btn-outline-gold(type="submit") Найти