include ../mixins/svg
include ../mixins/scripts

doctype html
html(lang='ru')
	block analitics
		-var connonicalPage = '';
	include ../head/head
	body
		#app.app
			.app__content
				// top navbar
				include ../Widgets/header/header
				// end top navbar
				block content
			include ../Widgets/footer/footer
			include ../Widgets/modal/modalSearch
			include ../Widgets/modal/modalFilter
		+scripts(['vendor/jquery.js', 'vendor/tether.min.js', 'vendor/bootstrap.min.js', 'vendor/jquery.nicescroll.min.js', 'vendor/slick.js', 'vendor/bootstrap-slider.js', 'vendor/svg4everybody.js'])
		block scripts
		script(src="assets/js/main.js")
