@charset "UTF-8";
.sprite-sprite {
  display: inline-block;
  vertical-align: middle;
  width: 166px;
  height: 148px;
  background: url("../images/sprites.png") 0px 0px/166px 148px no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .sprite-sprite {
      background-image: url("../images/sprites_2x.png"); } }

@font-face {
  font-family: "Stem-Bold";
  src: url("../fonts/Stem-Bold.eot");
  src: url("../fonts/Stem-Bold.eot") format("embedded-opentype"), url("../fonts/Stem-Bold.woff") format("woff"), url("../fonts/Stem-Bold.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Stem-Medium";
  src: url("../fonts/Stem-Medium.eot");
  src: url("../fonts/Stem-Medium.eot") format("embedded-opentype"), url("../fonts/Stem-Medium.woff") format("woff"), url("../fonts/Stem-Medium.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Stem-Regular";
  src: url("../fonts/Stem-Regular.eot");
  src: url("../fonts/Stem-Regular.eot") format("embedded-opentype"), url("../fonts/Stem-Regular.woff") format("woff"), url("../fonts/Stem-Regular.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Stem-Light";
  src: url("../fonts/Stem-Light.eot");
  src: url("../fonts/Stem-Light.eot") format("embedded-opentype"), url("../fonts/Stem-Light.woff") format("woff"), url("../fonts/Stem-Light.ttf") format("truetype");
  font-weight: normal; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../images/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

html,
body {
  height: 100%;
  width: 100%; }

html {
  font-size: 16px; }

body {
  color: #000;
  direction: ltr;
  overflow-x: hidden;
  height: 100%;
  font-family: "Stem-Regular", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased !important; }

.app {
  height: auto;
  min-height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden; }
  @media (min-width: 992px) {
    .app_navbar-fixed {
      padding-top: 99px; } }
  .app__content {
    height: 100%;
    margin: 0 auto; }
    .app__content:before, .app__content:after {
      content: " ";
      display: table; }
    .app__content:after {
      clear: both; }
  .app__footer {
    background-color: #813700;
    min-height: 220px; }
  .app__footer-inner {
    padding-left: 30px;
    padding-right: 30px; }
    @media (max-width: 576px) {
      .app__footer-inner {
        padding-left: 15px;
        padding-right: 15px; } }

.btn-outline-gold {
  background: none;
  border-color: #d0ac80;
  border-radius: 0;
  color: #d0ac80;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px; }
  .btn-outline-gold:hover, .btn-outline-gold:focus {
    color: #c59962;
    border-color: #c59962;
    box-shadow: 0 0 0 2px rgba(197, 153, 98, 0.25); }

.navbar {
  background-color: #813700;
  width: 100%;
  height: 99px;
  border: medium none;
  padding: 0 30px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 1080; }
  .navbar__header {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%); }
    @media (max-width: 991px) {
      .navbar__header {
        left: 50%;
        transform: translate(-50%, -50%); } }
  .navbar .navbar-brand {
    height: 60px;
    line-height: 60px; }
    .navbar .navbar-brand img {
      max-width: 100%;
      height: auto;
      max-height: 100%;
      display: inline-block; }
  .navbar__nav {
    justify-content: center; }
    .navbar__nav .nav-item {
      height: 99px;
      display: inline-block;
      vertical-align: middle;
      padding-left: 0;
      padding-right: 0;
      margin-left: 1.8125rem;
      margin-right: 1.8125rem; }
      .navbar__nav .nav-item > .nav-link {
        display: inline-block;
        line-height: 99px;
        color: #d0ac80;
        font-size: 1rem;
        text-transform: uppercase;
        padding-top: 0;
        padding-bottom: 0;
        transition: color 0.3s ease 0s;
        position: relative; }
        .navbar__nav .nav-item > .nav-link:after {
          background-color: #d0ac80;
          width: 0;
          height: 5px;
          content: "";
          transition: width 0.3s ease 0s;
          position: absolute;
          left: 0;
          right: auto;
          bottom: 0; }
        .navbar__nav .nav-item > .nav-link:hover:after {
          width: 100%; }
      .navbar__nav .nav-item:hover .navbar-nav__subnav,
      .navbar__nav .nav-item .active .navbar-nav__subnav {
        display: block;
        opacity: 1; }
      .navbar__nav .nav-item:hover > .nav-link,
      .navbar__nav .nav-item .active > .nav-link {
        color: #fff; }
        .navbar__nav .nav-item:hover > .nav-link:after,
        .navbar__nav .nav-item .active > .nav-link:after {
          width: 100%; }
  .navbar__form {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%); }
  .navbar__form-item {
    display: inline-flex;
    margin-left: 2.5rem; }
    @media (max-width: 1199px) {
      .navbar__form-item {
        margin-left: 1.625rem; } }
    @media (max-width: 991px) {
      .navbar__form-item {
        margin-left: 1.25rem; } }
  .navbar__phone {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    color: #fef7d9;
    white-space: nowrap; }
    @media (max-width: 991px) {
      .navbar__phone {
        display: none; } }
    .navbar__phone:hover {
      text-decoration: none;
      color: #fdeda7; }
  .navbar__search {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer; }
    .navbar__search:hover svg {
      stroke: #fff6dd; }
  .navbar__search-icon svg {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    fill: none;
    stroke: #d0ac80;
    transition: all 0.3s ease 0s; }
  .navbar__wishlist {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .navbar__wishlist:hover svg {
      stroke: #fff6dd;
      fill: #fff6dd; }
  .navbar__wishlist-badge {
    background-color: #d0ac80;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    color: #8c3813;
    font-size: 11px;
    font-family: "Stem-Medium";
    display: block;
    position: absolute;
    top: -6px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 12px; }
  .navbar__wishlist-icon svg {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    fill: none;
    stroke: #d0ac80;
    transition: all 0.3s ease 0s; }

.navbar-nav__subnav {
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease 0s; }

.navbar-nav__subnav-container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 1.8125rem 0 0.625rem; }

.navbar-nav__subnav-listgroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  padding-bottom: 1.5rem; }

.navbar-nav__subnav-listgroup-item {
  padding: 0 10px; }

.navbar-nav__subnav-listgroup-item_col-1 {
  flex: 0 0 100%; }

.navbar-nav__subnav-listgroup-item_col-2 {
  flex: 0 0 50%; }

.navbar-nav__subnav-listgroup-item_col-3 {
  flex: 0 0 33.33333%; }

.navbar-nav__subnav-listgroup-item_col-4 {
  flex: 0 0 25%; }

.navbar-nav__subnav-list {
  border-top: 1px solid #d0ac80;
  list-style: none;
  margin: 0;
  padding: 1rem 0; }

.navbar-nav__subnav-list-item {
  margin-bottom: 0.3125rem; }

.navbar-nav__subnav-link-title {
  color: #d0ac80;
  font-size: 1.25rem;
  line-height: 1.375rem;
  text-transform: uppercase; }
  .navbar-nav__subnav-link-title:hover, .navbar-nav__subnav-link-title:focus {
    text-decoration: none;
    color: #c59962; }

.navbar-nav__subnav-listgroup-item_col-1 .navbar-nav__subnav-item {
  width: 16.66667%; }
  .navbar-nav__subnav-listgroup-item_col-1 .navbar-nav__subnav-item:nth-child(8n) {
    float: left; }

.navbar-nav__subnav-link {
  color: #000;
  font-size: 0.875rem;
  line-height: 1rem;
  display: inline-block;
  vertical-align: top;
  padding: 5px 0; }
  .navbar-nav__subnav-link:hover, .navbar-nav__subnav-link:focus {
    text-decoration: none;
    color: #666666; }

.main-carousel__state.slick-slider {
  margin-bottom: 20px; }

.main-carousel__state .slick-arrow {
  z-index: 1; }

.main-carousel__state .slick-prev,
.main-carousel__state .slick-next {
  width: 17px;
  height: 36px; }
  .main-carousel__state .slick-prev:before,
  .main-carousel__state .slick-next:before {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 17px;
    height: 36px;
    content: "";
    display: inline-block; }

.main-carousel__state .slick-prev {
  left: 30px; }
  .main-carousel__state .slick-prev:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTYuNjM0cHgiIGhlaWdodD0iMzUuNjRweCIgdmlld0JveD0iMCAwIDE2LjYzNCAzNS42NCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYuNjM0IDM1LjY0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCiAgICA8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmZmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgcG9pbnRzPSIxNi4xMzQsMzUuMTQgMC42NzEsMTcuODIgMTYuMTM0LDAuNSIvPg0KPC9zdmc+); }

.main-carousel__state .slick-next {
  right: 30px; }
  .main-carousel__state .slick-next:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTYuNjM0cHgiIGhlaWdodD0iMzUuNjRweCIgdmlld0JveD0iMCAwIDE2LjYzNCAzNS42NCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYuNjM0IDM1LjY0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCiAgICA8cG9seWxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmZmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgcG9pbnRzPSIgMC41LDAuNSAxNS45NjMsMTcuODIgMC41LDM1LjE0Ii8+DQo8L3N2Zz4=); }

.main-carousel .slick-dots {
  bottom: 33px; }
  .main-carousel .slick-dots li {
    width: 10px;
    height: 10px;
    margin-left: 15px;
    margin-right: 15px; }
    @media (max-width: 767px) {
      .main-carousel .slick-dots li {
        margin-left: 11px;
        margin-right: 11px; } }
    .main-carousel .slick-dots li button {
      width: 10px;
      height: 10px;
      box-sizing: border-box; }
      .main-carousel .slick-dots li button:before {
        border-radius: 50%;
        border: 1px solid #fff;
        width: 10px;
        height: 10px;
        content: "";
        opacity: 1;
        box-sizing: border-box; }
    .main-carousel .slick-dots li.slick-active button:before {
      background-color: #fff; }

.main-carousel__state-item {
  min-height: 226px;
  height: 40vw;
  max-height: 580px;
  background-size: cover;
  background-position: center top;
  position: relative; }
  .main-carousel__state-item:focus {
    outline: 0 none; }

.promo-box {
  margin-bottom: 1.875rem; }
  @media (max-width: 767px) {
    .promo-box {
      margin-bottom: 0; } }
  .promo-box__list {
    max-width: 740px;
    margin: 0 auto; }
    @media (min-width: 1200px) {
      .promo-box__list {
        max-width: 1060px; } }
    .promo-box__list.slick-dotted {
      padding-bottom: 46px;
      margin-bottom: 0; }
      .promo-box__list.slick-dotted:after {
        width: 300%;
        max-width: 1060px;
        content: "";
        display: block;
        border-top: 1px solid rgba(208, 172, 128, 0.5);
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%); }
  .promo-box__list-item {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
  .promo-box__item {
    width: 340px;
    display: block;
    position: relative;
    color: inherit;
    text-decoration: none;
    overflow: hidden;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .promo-box__item {
        width: 290px; } }
    .promo-box__item:after {
      content: "";
      display: block;
      padding-bottom: 100%; }
  .promo-box__item:hover .promo-box__bg {
    transform: scale(1.1);
    transition: transform 4s cubic-bezier(0.39, 0.575, 0.565, 1) 0s; }
  .promo-box__title {
    font-size: 1.5rem;
    line-height: 1.625rem;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-bottom: 1.875rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; }
  .promo-box__bg {
    background: none no-repeat 50% 50%;
    background-size: cover;
    transition: all 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .promo-box .slick-dots {
    bottom: 15px; }
    .promo-box .slick-dots li {
      width: 10px;
      height: 10px;
      margin-left: 15px;
      margin-right: 15px; }
      @media (max-width: 767px) {
        .promo-box .slick-dots li {
          margin-left: 11px;
          margin-right: 11px; } }
      .promo-box .slick-dots li button {
        width: 10px;
        height: 10px;
        box-sizing: border-box; }
        .promo-box .slick-dots li button:before {
          border-radius: 50%;
          border: 1px solid #d0ac80;
          width: 10px;
          height: 10px;
          content: "";
          opacity: 1;
          box-sizing: border-box; }
      .promo-box .slick-dots li.slick-active button:before {
        background-color: #d0ac80; }

.section__title {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 2.375rem;
  font-weight: normal;
  font-family: "Stem-Medium";
  margin-bottom: 3.5625rem; }
  @media (max-width: 767px) {
    .section__title {
      font-size: 1.125rem;
      margin-bottom: 1.75rem; } }

.section__content {
  max-width: 1060px;
  padding-top: 0.6875rem;
  margin: 0 auto; }

.section_border-top .section__content {
  border-top: 1px solid rgba(208, 172, 128, 0.5);
  padding-top: 2.875rem; }
  @media (max-width: 767px) {
    .section_border-top .section__content {
      padding-top: 0.75rem; } }

.section__group-btn {
  text-align: center;
  padding-bottom: 3.0625rem;
  padding-top: 3.5rem; }

.product-carousel__item {
  display: inline-block;
  vertical-align: top;
  text-decoration: none; }
  .product-carousel__item:focus {
    outline: 0 none;
    text-decoration: none; }

.product-carousel__img {
  margin: 0 auto;
  max-width: 100%;
  height: auto; }

.product-carousel .slick-dots {
  bottom: -32px; }
  .product-carousel .slick-dots li {
    width: 10px;
    height: 10px;
    margin-left: 15px;
    margin-right: 15px; }
    @media (max-width: 767px) {
      .product-carousel .slick-dots li {
        margin-left: 11px;
        margin-right: 11px; } }
    .product-carousel .slick-dots li button {
      width: 10px;
      height: 10px;
      box-sizing: border-box; }
      .product-carousel .slick-dots li button:before {
        border-radius: 50%;
        border: 1px solid #d0ac80;
        width: 10px;
        height: 10px;
        content: "";
        opacity: 1;
        box-sizing: border-box; }
    .product-carousel .slick-dots li.slick-active button:before {
      background-color: #d0ac80; }

.brands-carousel__state {
  max-width: 740px;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .brands-carousel__state {
      max-width: 1060px; } }
  @media (max-width: 991px) {
    .brands-carousel__state {
      max-width: 440px; } }

.brands-carousel__group {
  max-width: 740px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  box-sizing: border-box; }
  @media (min-width: 1200px) {
    .brands-carousel__group {
      max-width: 1060px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; } }
  @media (max-width: 991px) {
    .brands-carousel__group {
      max-width: 440px;
      padding-left: 10px;
      padding-right: 10px; } }
  @media (max-width: 767px) {
    .brands-carousel__group {
      max-width: none; } }

@media (min-width: 1200px) {
  .brands-carousel__group + .brands-carousel__group {
    margin-top: 4.875rem; } }

.brands-carousel__item {
  display: inline-block;
  width: 33.33333%;
  box-sizing: border-box; }
  @media (min-width: 1200px) {
    .brands-carousel__item {
      width: auto;
      display: flex; } }
  @media (max-width: 991px) {
    .brands-carousel__item {
      width: 50%;
      padding-left: 10px;
      padding-right: 10px; } }

.brands-carousel__img {
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

.brands-carousel .slick-dots {
  bottom: -32px; }
  .brands-carousel .slick-dots li {
    width: 10px;
    height: 10px;
    margin-left: 15px;
    margin-right: 15px; }
    @media (max-width: 767px) {
      .brands-carousel .slick-dots li {
        margin-left: 11px;
        margin-right: 11px; } }
    .brands-carousel .slick-dots li button {
      width: 10px;
      height: 10px;
      box-sizing: border-box; }
      .brands-carousel .slick-dots li button:before {
        border-radius: 50%;
        border: 1px solid #d0ac80;
        width: 10px;
        height: 10px;
        content: "";
        opacity: 1;
        box-sizing: border-box; }
    .brands-carousel .slick-dots li.slick-active button:before {
      background-color: #d0ac80; }

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative; }
  @media (max-width: 1199px) {
    .footer {
      flex-direction: column; } }
  @media (max-width: 767px) {
    .footer {
      height: 108px; } }
  .footer__list {
    width: 100%;
    max-width: 1060px;
    padding: 12px 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; }
    @media (max-width: 767px) {
      .footer__list {
        padding-left: 0;
        padding-right: 0; } }
  .footer__brand {
    width: 94px;
    position: absolute;
    left: 0;
    top: 18px; }
    @media (max-width: 1199px) {
      .footer__brand {
        display: none; } }
    .footer__brand img {
      max-width: 100%;
      height: auto; }
  .footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 16.66667%;
    padding-right: 16.66667%;
    box-sizing: border-box; }
    @media (max-width: 991px) {
      .footer__nav {
        max-width: 750px;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto; } }
  .footer__nav-list {
    width: 25%;
    list-style: none;
    margin: 0;
    flex: 0 0 25%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; }
    @media (max-width: 767px) {
      .footer__nav-list {
        width: auto;
        flex: 0 0 auto;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0; } }
  .footer__nav-list-item {
    margin-bottom: 8px; }
    @media (max-width: 767px) {
      .footer__nav-list-item:not(:first-child) {
        display: none; } }
  .footer__nav-title {
    font-size: 13px;
    text-transform: uppercase;
    color: #d0ac80;
    transition: color 0.3s ease 0s; }
    @media (max-width: 576px) {
      .footer__nav-title {
        font-size: 12px; } }
    .footer__nav-title:hover, .footer__nav-title:focus {
      text-decoration: none;
      color: #dbbf9e; }
  .footer__nav-item {
    line-height: 20px; }
  .footer__nav-link {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #d0ac80;
    opacity: 0.5;
    transition: opacity 0.3s ease 0s; }
    .footer__nav-link:hover, .footer__nav-link:focus {
      text-decoration: none;
      opacity: 1;
      color: #dbbf9e; }
  .footer__social {
    padding-top: 16px;
    padding-bottom: 16px;
    position: absolute;
    right: 0;
    top: 0; }
    @media (max-width: 1199px) {
      .footer__social {
        position: relative; } }
    @media (max-width: 576px) {
      .footer__social {
        padding-top: 10px;
        padding-bottom: 10px; } }
  .footer__social-link {
    margin-left: 1.875rem; }
    .footer__social-link:first-child {
      margin-left: 0; }
    .footer__social-link svg {
      height: 18px;
      width: 24px;
      fill: #d0ac80; }

/*# sourceMappingURL=main.css.map */
