.brands-carousel {
    &__state {
        max-width: 740px;
        margin: 0 auto;

        @media (min-width: $screen-lg-min) {
            max-width: 1060px;
        }

        @media (max-width: $screen-sm-max) {
            max-width: 440px;
        }
    }

    &__group {
        max-width: 740px;
        margin: 0 auto;
        font-size: 0;
        text-align: center;
        box-sizing: border-box;

        @media (min-width: $screen-lg-min) {
            max-width: 1060px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @media (max-width: $screen-sm-max) {
            max-width: 440px;
            padding-left: 10px;
            padding-right: 10px;
        }

        @media (max-width: $screen-xs-max) {
            max-width: none;
        }
    }

    &__group + &__group {
        @media (min-width: $screen-lg-min) {
            margin-top: rem(78);
        }
    }

    &__item {
        display: inline-block;
        width: percentage(1 / 3);
        box-sizing: border-box;

        @media (min-width: $screen-lg-min) {
            width: auto;
            display: flex;
        }

        @media (max-width: $screen-sm-max) {
            width: percentage(1 / 2);
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .slick-dots {
        bottom: -32px;
        
        li {
            width: 10px;
            height: 10px;
            margin-left: 15px;
            margin-right: 15px;

            @media (max-width: $screen-xs-max) {
                margin-left: 11px;
                margin-right: 11px;
            }

            button {
                width: 10px;
                height: 10px;
                box-sizing: border-box;

                &:before {
                    border-radius: 50%;
                    border: 1px solid #d0ac80;
                    width: 10px;
                    height: 10px;
                    content: "";
                    opacity: 1;
                    box-sizing: border-box;
                }
            }

            &.slick-active {
                button:before {
                    background-color: #d0ac80;
                }
            }
        }
    }
}