.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    @media (max-width: $screen-md-max) {
        flex-direction: column;
    }

    @media (max-width: $screen-xs-max) {
        height: 108px;
    }

    &__list {
        width: 100%;
        max-width: 1060px;
        padding: 12px 10px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;

        @media (max-width: $screen-xs-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__brand {
        width: 94px;
        position: absolute;
        left: 0;
        top: 13px;

        @media (max-width: $screen-md-max) {
            display: none;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__nav {
        max-width: 740px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;

        @media (max-width: $screen-sm-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__nav-list {
        width: percentage(1 / 4);
        list-style: none;
        margin: 0;
        flex: 0 0 percentage(1 / 4);
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;

        @media (max-width: $screen-xs-max) {
            width: auto;
            flex: 0 0 auto;
            justify-content: space-between;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__nav-list-item {
        margin-bottom: 8px;

        &:not(:first-child) {
            @media (max-width: $screen-xs-max) {
                display: none;
            }
        }
    }

    &__nav-title {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.25px;
        color: #d0ac80;
        transition: color 0.3s ease 0s;

        @media (max-width: $screen-xs-min) {
            font-size: 12px;
        }

        &:hover,
        &:focus {
            text-decoration: none;
            color: lighten(#d0ac80, 8%);
        }
    }

    &__nav-item {
        line-height: 19px;
    }

    &__nav-link {
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        letter-spacing: 0.25px;
        color: #d0ac80;
        opacity: 0.5;
        transition: opacity 0.3s ease 0s;

        &:hover,
        &:focus {
            text-decoration: none;
            opacity: 1;
            color: lighten(#d0ac80, 8%);
        }
    }

    &__social {
        padding-top: 17px;
        padding-bottom: 17px;
        position: absolute;
        right: -5px;
        top: 0;

        @media (max-width: $screen-md-max) {
            position: relative;
            right: auto;
        }

        @media (max-width: $screen-xs-min) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    &__social-link {
        display: inline-block;
        vertical-align: top;
        margin-left: rem(35);

        &:first-child {
            margin-left: 0;
        }

        svg {
            height: 18px;
            width: 24px;
            fill: #d0ac80;
            transition: all 0.3s ease-in-out;
        }

        &:hover,
        &:focus {
            text-decoration: none;

            svg {
                fill: #fff;
            }
        }
    }
}