.app-navbar-off {
    .navbar__nav {
        transition: transform 300ms ease 0s;
        transform: translate3d(0, 0, 0);
    }
}


.navbar {
    background-color: $color-terracottaDark;
    width: 100%;
    height: 99px;
    border: medium none;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 1040;

    @media (max-width: $screen-sm-max) {
        height: 91px;
    }

    .navbar-toggler-icon {
        background: url("toggle-navbar.svg#datauri") no-repeat 0 0;
        background-size: cover;
        width: 20px;
        height: 18px;
    }

    .navbar-toggler-left {
        left: 15px;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: $screen-xs-min) {
            left: 0;
        }
    }

    &__close {
        padding: rem(4) rem(4);
        font-size: rem(24);
        line-height: 1;
        position: absolute;
        right: rem(11);
        top: rem(16);
        z-index: 1;
        display: none;

        @media (max-width: $screen-sm-max) {
            display: block;
        }
    }

    &__close-icon {
        background: url("close-navbar.svg#datauri") no-repeat 0 0;
        background-size: 100% 100%;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
    }

    &__header {
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: $screen-sm-max) {
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .navbar-brand {
        height: 60px;
        line-height: 60px;

        @media (max-width: $screen-xs-min) {
            margin-left: rem(16);
        }

        img {
            max-width: 100%;
            height: auto;
            max-height: 100%;
            display: inline-block;
        }
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;

        @media (max-width: $screen-sm-max) {
            background-color: #000;
            flex-direction: column;
            position: absolute;
            transition: transform 300ms ease 0s;
            transform: translate3d(-100%, 0, 0);
            left: 0;
            top: 0;
            right: 0;
            z-index: 1001;
        }

        .nav-item {
            height: 99px;
            display: inline-block;
            vertical-align: middle;
            padding-left: 0;
            padding-right: 0;
            margin-left: rem(29);
            margin-right: rem(29);

            @media (max-width: $screen-sm-max) {
                height: 28px;
                margin-left: rem(10);
                margin-right: rem(10);
            }

            > .nav-link {
                display: inline-block;
                line-height: 99px;
                color: $color-beige;
                font-size: rem(16);
                text-transform: uppercase;
                padding-top: 0;
                padding-bottom: 0;
                transition: color 0.3s ease 0s;
                position: relative;

                @media (max-width: $screen-sm-max) {
                    height: 28px;
                    line-height: rem(18);
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding-bottom: 10px;
                }

                &:after {
                    background-color: $color-beige;
                    width: 0;
                    height: 5px;
                    content: "";
                    transition: width 0.3s ease 0s;
                    position: absolute;
                    left: 0;
                    right: auto;
                    bottom: 0;
                }

                &:hover {
                    &:after {
                        width: 100%;
                    }
                }
            }

            &:hover,
            &.active {
                .navbar-nav__subnav {
                    max-height: 3000px;
                    visibility: visible;
                    opacity: 1;
                    transition: max-height .3s, opacity .3s .3s;
                    // display: block;
                    // opacity: 1;
                }

                > .nav-link {
                    color: $color-white;

                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__form {
        position: absolute;
        right: rem(30);
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: $screen-xs-min) {
            right: rem(15);
        }
    }

    &__form-item {
        display: inline-flex;
        margin-left: rem(40);

        @media (max-width: $screen-md-max) {
            margin-left: rem(26);
        }

        @media (max-width: $screen-sm-max) {
            margin-left: rem(20);
        }

        @media (max-width: $screen-xs-min) {
            margin-left: rem(10);
        }
    }

    &__phone {
        display: inline-block;
        vertical-align: middle;
        padding-left: rem(8);
        padding-right: rem(8);
        font-size: rem(16);
        color: $color-pearlyLight;
        white-space: nowrap;

        @media (max-width: $screen-sm-max) {
            display: none;
        }

        &:hover {
            text-decoration: none;
            color: darken($color-pearlyLight, 10%);
        }
    }

    &__search {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;

        &:hover svg {
            stroke: $color-pearly;
        }
    }
    
    &__search-icon {
        svg {
            width: 23px;
            height: 23px;
            display: inline-block;
            vertical-align: middle;
            fill: none;
            stroke: $color-beige;
            transition: all 0.3s ease 0s;
        }
    }

    &__wishlist {
        display: inline-block;
        vertical-align: middle;
        position: relative;

        &:hover svg {
            stroke: $color-pearly;
            fill: $color-pearly;
        }
    }

    &__wishlist-badge {
        background-color: $color-beige;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        color: $color-terracotta;
        font-size: 10px;
        font-family: $font-stem-medium;
        display: block;
        position: absolute;
        top: -6px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 12px;
    }

    &__wishlist-icon {
        svg {
            width: 23px;
            height: 23px;
            display: inline-block;
            vertical-align: middle;
            fill: none;
            stroke: $color-beige;
            transition: all 0.3s ease 0s;
        }
    }
}

.navbar-nav {

    @media (max-width: $screen-sm-max) {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 63px;
    }

    &__phone {
        display: none;
        justify-content: center;
        margin-top: rem(23);
        margin-bottom: rem(23);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;

        @media (max-width: $screen-sm-max) {
            display: flex;
        }
    }

    &__phone-link {
        font-size: rem(15);
        line-height: rem(17);
        color: #fef7d9;

        &:hover,
        &:focus {
            color: darken(#fef7d9, 8%);
            text-decoration: none;
        }
    }

    &__subnav {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        max-height: 0;
        transition: max-height .3s, opacity .3s 0s;
        transition-timing-function: ease-in-out;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
    }

    &__subnav-wrap {
        background-color: #fff;
        padding-left: rem(20);
        padding-right: rem(20);

        @media (max-width: $screen-sm-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__subnav-container {
        max-width: 1060px;
        margin: 0 auto;
        padding-top: rem(29);
        padding-bottom: rem(36);

        @media (max-width: $screen-sm-max) {
            padding-left: rem(15);
            padding-right: rem(15);
        }

        @media (max-width: $screen-xs-max) {
            padding: 0;
        }
    }

    &__subnav-listgroup {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        padding-bottom: rem(24);

        @media (max-width: $screen-xs-max) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__subnav-listgroup-item {
        padding: 0 10px;

        @media (max-width: $screen-xs-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__subnav-listgroup-item:first-child &__subnav-list {
        @media (max-width: $screen-xs-max) {
            border-top: medium none;
        }
    }

    @for $i from 1 through 4 {
        &__subnav-listgroup-item_col-#{$i} {
            flex: 0 0 percentage(1 / ($i));

            @media (max-width: $screen-xs-max) {
                flex: 0 0 auto;
                width: 100%;
            }
        }
    }

    &__subnav-listgroup-item_col-sm-1 {
        @media (max-width: $screen-sm-max) {
            flex: 0 0 auto;
            width: 100%;
        }
    }

    &__subnav-listgroup-item_col-sm-2 {
        @media (max-width: $screen-sm-max) {
            flex: 0 0 percentage(1 / 2);
        }

        @media (max-width: $screen-xs-min) {
            width: 100%;
            flex: 0 0 auto;
            box-sizing: border-box;
        }
    }

    &__subnav-list {
        border-top: 1px solid #d0ac80;
        list-style: none;
        margin: 0;
        padding: rem(16) 0;

        @media (max-width: $screen-xs-max) {
            padding-left: rem(10);
            padding-right: rem(10);
        }
    }

    &__subnav-list-item {
        margin-bottom: rem(5);
    }

    &__subnav-link-title {
        color: #d0ac80;
        font-size: rem(20);
        line-height: rem(22);
        text-transform: uppercase;

        &:hover,
        &:focus {
            text-decoration: none;
            color: darken(#d0ac80, 8%);
        }
    }

    &__subnav-link {
        color: #000;
        font-size: rem(14);
        line-height: rem(16);
        display: inline-block;
        vertical-align: top;
        padding: 5px 0;

        &:hover,
        &:focus {
            text-decoration: none;
            color: lighten(#000000, 40%);
        }
    }

    &__subnav-groupitem {
        width: percentage(1 / 6);
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;

        @media (max-width: $screen-sm-max) {
            width: percentage(1 / 3);

            &:nth-child(3n) {
                padding-right: 0;
            }

            &:nth-child(4n) {
                clear: left;
                padding-left: 0;
            }
        }

        @media (max-width: $screen-xs-min) {
            width: percentage(1 /2);
            padding-left: 0;
            padding-right: 0;

            &:nth-child(4n) {
                clear: none;
            }
        }

        .navbar-nav__subnav-listgroup-item_col-1 & {
            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &__subnav-info {
        font-size: rem(20);
        line-height: rem(30);
        font-family: $font-stem-light;
        padding-top: rem(13);
        padding-bottom: rem(13);

        @media (max-width: $screen-xs-max) {
            font-size: rem(16);
            line-height: rem(20);
            padding-left: rem(15);
            padding-right: rem(15);
        }
    }

    &__subnav-boutique {
        margin-top: rem(19);

        @media (max-width: $screen-xs-max) {
            padding-left: rem(15);
            padding-right: rem(15);
            margin-top: rem(10);
        }
    }

    &__subnav-boutique + &__subnav-boutique {
        margin-top: rem(52);

        @media (max-width: $screen-xs-max) {
            margin-top: rem(26);
        }

        @media (max-width: $screen-xs-min) {
            margin-top: rem(10);
        }
    }

    &__subnav-boutique-title {
        font-size: rem(20);
        line-height: rem(22);
        text-transform: uppercase;
        margin-bottom: rem(5);

        @media (max-width: $screen-xs-max) {
            font-size: rem(16);
            line-height: rem(18);
        }
    }

    &__subnav-boutique-text {
        color: #d0ac80;
        font-size: rem(16);
        line-height: rem(18);
        margin-bottom: rem(3);

        @media (max-width: $screen-xs-max) {
            font-size: rem(14);
            line-height: rem(16);
        }
    }

    &__subnav-boutique-phone {
        white-space: nowrap;
        display: block;
    }

    &__subnav-boutique-link {
        font-size: rem(13);
        line-height: rem(15);
        color: #5c3b2d;
        text-decoration: underline;

        &:hover {
            color: lighten(#5c3b2d, 40%);
            text-decoration: none;
        }
    }
}

.navbar-nav__backdrop {
    background-color: rgba(#ead4a4, 0.9);
    padding-top: 400%;
    content: "";
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
