.product {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: rem(8);

    @media (max-width: $screen-xs-min) {
        padding-bottom: 0;
    }

    &__navbar {
        max-width: 1060px;
        min-height: rem(42);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @media (max-width: $screen-sm-max) {
            justify-content: flex-end;
        }

        @media (max-width: $screen-xs-min) {
            justify-content: space-between;
        }

        .breadcrumb {
            flex-wrap: nowrap;
            flex-basis: 100%;
        }
    }

    &__navbar-back {
        background: url("close-modal.svg#datauri") no-repeat 0 0;
        background-size: cover;
        width: 24px;
        height: 24px;
        display: block;
        cursor: pointer;
        flex: 0 0 auto;
        margin-top: rem(16);

        @media (max-width: $screen-xs-min) {
            margin-top: rem(6);
        }
    }

    &__container {
        max-width: 1060px;
        margin: 0 auto;
    }

    &__wishlist {
        display: inline-block;
        flex: 0 0 auto;

        @media (max-width: $screen-xs-min) {
            margin-top: rem(6);
        }

        &:hover,
        &:focus {
            color: inherit;
            text-decoration: none;
        }
    }

    &__wishlist-icon svg {
        width: 23px;
        height: 23px;
        display: inline-block;
        vertical-align: middle;
        fill: none;
        stroke: #d0ac80;
        transition: all 0.3s ease 0s;
    }

    &__wishlist.is-active &__wishlist-icon svg,
    &__wishlist:hover &__wishlist-icon svg {
        fill: #f6eee6;
    }
}

.product-info {
    padding-top: rem(24);

    @media (max-width: $screen-xs-max) {
        padding-top: 0;
    }

    &__title {
        font-size: rem(35);
        line-height: rem(42);
        font-family: $font-stem-medium;
        letter-spacing: 0.25px;
        text-transform: uppercase;
        margin-bottom: 0;

        @media (max-width: $screen-sm-max) {
            font-size: rem(18);
            line-height: rem(20);
            text-align: center;
        }
    }

    &__category {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: rem(16);
        padding-top: rem(15);

        @media (max-width: $screen-sm-max) {
            justify-content: center;
        }
    }

    &__category-item {
        font-size: rem(18);
        line-height: rem(20);
        padding: rem(4) rem(32) rem(4) 0;
        color: #000;
        display: block;

        @media (max-width: $screen-sm-max) {
            font-size: rem(12);
            line-height: rem(14);
            padding-right: rem(16);
        }

        &:hover {
            color: inherit;
        }

        &:after {
            display: inline-block;
            vertical-align: middle;
            content: "•";
            color: #d0ac80;
            position: relative;
            right: -1 * rem(16);

            @media (max-width: $screen-sm-max) {
                right: -1 * rem(8);
            }
        }

        &:last-child {
            padding-right: 0;

            &:after {
                display: none;
            }
        }
    }

    &__description {
        border-top: 1px solid rgba(#d0ac80, 0.5);
        color: #8b8b8b;
        font-size: rem(13);
        line-height: rem(18);
        padding-top: rem(25);
        padding-bottom: rem(16);

        b {
            font-family: $font-stem-medium;
            color: #000;
            font-weight: normal;
        }
    }

    &__property {
        border-top: 1px solid rgba(#d0ac80, 0.5);
        font-size: rem(13);
        line-height: rem(15);
        padding-top: rem(26);
        padding-bottom: rem(26);
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $screen-xs-min) {
            padding-top: rem(13);
            padding-bottom: rem(13);
        }
    }

    &__property-groupname {
        width: 100%;
        max-width: 180px;
        flex: 0 0 180px;

        @media (max-width: $screen-md-max) {
            max-width: 50%;
            flex: 0 0 50%;
        }
    }

    &__property-grouptext {
        width: 100%;
        max-width: calc(100% - 180px);
        flex: 0 0 calc(100% - 180px);

        @media (max-width: $screen-md-max) {
            max-width: 50%;
            flex: 0 0 50%;
        }
    }

    &__property-name {
        color: #8b8b8b;
        font-weight: normal;
        padding-top: rem(4);
        padding-bottom: rem(4);
        word-break: break-all;
        margin-bottom: rem(8);

        @media (max-width: $screen-xs-min) {
            margin-bottom: 0;
        }
    }

    &__property-text {
        padding-top: rem(4);
        padding-bottom: rem(4);
        padding-left: rem(30);
        margin-bottom: rem(8);

        @media (max-width: $screen-md-max) {
            padding-left: 0;
        }

        @media (max-width: $screen-xs-min) {
            margin-bottom: 0;
        }

        a {
            color: #000;
            display: inline-block;

            &:hover {
                color: inherit;
            }
        }
    }

    &__docs {
        border-top: 1px solid rgba(#d0ac80, 0.5);
        padding-top: rem(27);
        padding-bottom: rem(27);

        @media (max-width: $screen-xs-min) {
            padding-top: rem(17);
            padding-bottom: rem(20);
        }

        .file-download {
            font-size: rem(13);
            line-height: rem(15);
            padding-top: 3px;
        }
    }

    &__form {
        border-top: 1px solid rgba(#d0ac80, 0.5);
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        height: 102px;
        align-items: center;
        margin-bottom: -1px;

        @media (max-width: $screen-xs-min) {
            height: 64px;
        }
    }

    &__category + &__form {
        border-top: medium none;
    }

    &__form-controls {
        flex-wrap: nowrap;
        flex-basis: 100%;

        @media (max-width: $screen-xs-min) {
            justify-content: space-between;
        }

        .btn {
            margin-left: rem(29);

            @media (max-width: $screen-xs-min) {
                width: 50%;
                margin-left: 0;
                padding-left: 0;
                padding-right: 0;
                font-size: 12px;
                line-height: 14px;
            }
        }
    }

    &__form-price {
        width: 180px;
        display: inline-block;
        vertical-align: middle;
        font-size: rem(28);
        line-height: rem(30);
        font-family: $font-stem-bold;

        @media (max-width: $screen-xs-min) {
            width: 50%;
            font-size: rem(18);
            line-height: rem(20);
        }
    }

    &.product-info_vertical {

        .product-info__category {
            padding-top: rem(7);
        }

        .product-info__form {
            height: 98px;

            @media (max-width: $screen-xs-min) {
                height: 64px;
            }
        }

        .product-info__description {
            padding-bottom: rem(13);
        }

        .product-info__form-controls .btn {
            margin-left: rem(8);

            @media (max-width: $screen-xs-min) {
                margin-left: 0;
            }
        }

        .product-info__property-text {
            padding-left: 0;
        }
    }

    &.product-info_horizontal {
        padding-top: 0;

        .product-info__category {
            padding-top: rem(7);
            padding-bottom: 0;
        }

        .product-info__form {
            height: 96px;
            margin-top: -1 * rem(5);

            @media (max-width: $screen-xs-min) {
                height: 64px;
                margin-top: 0;
            }
        }

        .product-info__form-controls .btn {
            margin-left: rem(8);

            @media (max-width: $screen-xs-min) {
                margin-left: 0;
            }
        }

        .product-info__property-text {
            padding-left: 0;
        }
    }
}