.product-carousel {
    &__state {
        margin-bottom: rem(7);

        &.slick-dotted.slick-slider {
            margin-bottom: rem(37);
        }
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;

        &:focus {
            outline: 0 none;
            text-decoration: none;
        }
    }

    &__img {
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

    .slick-dots {
        bottom: -32px;
        
        li {
            width: 10px;
            height: 10px;
            margin-left: 15px;
            margin-right: 15px;

            @media (max-width: $screen-xs-max) {
                margin-left: 11px;
                margin-right: 11px;
            }

            button {
                width: 10px;
                height: 10px;
                box-sizing: border-box;

                &:before {
                    border-radius: 50%;
                    border: 1px solid #d0ac80;
                    width: 10px;
                    height: 10px;
                    content: "";
                    opacity: 1;
                    box-sizing: border-box;
                }
            }

            &.slick-active {
                button:before {
                    background-color: #d0ac80;
                }
            }
        }
    }
}