.product-carousel {
    &__item {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;

        &:focus {
            outline: 0 none;
            text-decoration: none;
        }
    }

    &__img {
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
}