.recommended {
    margin-left: -10px;
    margin-right: -10px;

    &__state {
        &.slick-dotted.slick-slider {
            margin-bottom: rem(37);

            @media (max-width: $screen-sm-max) {
                margin-bottom: rem(47);
            }
        }

        .slick-list {
            @media (max-width: $screen-sm-max) {
                border-top: 1px solid rgba(#d0ac80, 0.5);
                border-bottom: 1px solid rgba(#d0ac80, 0.5);
            }
        }

        .slick-slide {
            @media (max-width: $screen-sm-max) {
                border-left: 1px solid rgba(#d0ac80, 0.5);
            }

            @media (max-width: $screen-xs-min) {
                border-left: medium none;
            }
        }

        .slick-dots {
            li {
                width: 10px;
                height: 10px;
                margin-left: 15px;
                margin-right: 15px;
    
                @media (max-width: $screen-xs-max) {
                    margin-left: 11px;
                    margin-right: 11px;
                }
    
                button {
                    width: 10px;
                    height: 10px;
                    box-sizing: border-box;
    
                    &:before {
                        border-radius: 50%;
                        border: 1px solid #d0ac80;
                        width: 10px;
                        height: 10px;
                        content: "";
                        opacity: 1;
                        box-sizing: border-box;
                    }
                }
    
                &.slick-active {
                    button:before {
                        background-color: #d0ac80;
                    }
                }
            }
        }
    }

    &__item {
        margin-left: 10px;
        margin-right: 10px;
    }
}